body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

h1, h4{
    font-weight: 100;
}

.content {
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
}
#about {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
}
.wrapper {
    padding: 0 25px;
}
#about h4 {
    text-align: left;
    margin: 0 auto;
    font-size: 1.1em;
    line-height: 200%;
}
#profile{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url("../images/me.jpg") no-repeat;
    margin: 0 auto;
    margin-bottom: 25px;
}

#social li{
    list-style-type: none;
    display: inline-block;
}
#social{
    text-align: center;
    margin-top: 25px;
}
.fa-tumblr,
.fa-github,
.fa-envelope-o,
.fa-twitter,
.fa-instagram{
    font-size: 1.5em;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fa-twitter{
    color: #4099FF;
}
.fa-envelope-o{
    color: #c10000;
}
.fa-github{
    color:  #4183C4;
}
.fa-tumblr{
    color:  #2C4762;
}
.fa-instagram{
    color: #C499BA;
}
.class content 
    a:link,
    a:visited,
    a:active{
color: #D490D4;
}

